<div class="alert {{alert}}" style="display: {{#if alert}}block{{else}}none{{/if}};">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{message}}
</div>