<div class='navigations'>
<ul>
   <li class='active'><a href="/"><span>Home</span></a></li>
   <li><a href='/status'><span>Profile</span></a></li>
   <li><a href="/Register"><span>Create New Account</span></a></li>
   <li><a href='/spreadsheet'><span>Spreadsheet</span></a></li>
   <li><a href='/adminPage'><span>Adminstration</span></a></li>
   <li class='last'><a href='/logout'><span>Logout</span></a></li>
</ul>
</div>