<div class="register-wrapper">
<div class="register-block">
    <form>
    <input name="Sname" placeholder="Please enter name of SpreadSheet"/>
    <input name="email" placeholder="add user's email to share with">
    <p>Hint: leave it blank if you dont want to share with others.</p>
    <a href="/SpreadSheetEdit" class="addNew right"> Next</a>
    </form>
</div>
</div>