<div class="register-wrapper">
<div class="register-block">
<h1>Account Details</h1>
<hr>

<p> Email: {{sess.email}} </p>
<p> Password: ******** </p>
<p> Full Name: {{sess.name}}</p>

<br>
<p><a class="button" href="/Edit{{sess.id}}" class="button">Modify</a></p>
</div>
</div>